@import url('css/general.css');

@font-face{
  font-family:'droid';
  src:url('fonts/droid-kufi.ttf')format('truetype');
}
body *{
  font-family:droid;
  letter-spacing:.5px;
  font-style:normal;
  font-variant:normal;
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.sp-b-10 { margin-bottom: 10px; }
.sp-b-15 { margin-bottom: 15px; }
.right { float: right; }

.tool-bar {
  border: 1px solid #ddd;
  padding: 10px 0;
  background: #E5E5E5;
  margin-bottom: 10px;
}
.tool-bar > div { display: -webkit-box; }
.btn-op {
  font-size: 12px;
  padding: 2px 3px 0 4px;
  margin: 0 3px;
}
.td-op {
  padding: 5px 0 4px !important;
  width: 100px !important;
  text-align: center;
}

.btn-ticket { font-size: 15px; cursor: pointer; width: 50px; text-align: center; position: relative; top: 9px; }
.btn-ticket.add { color: #1E9DE5; }
.btn-ticket.del { color: #e12b31; left: -1.6px; }

/* <Tahead */
.typeahead { position: relative; }
ul.typeahead-selector {
  margin: 0;
  background: #DDD;
  box-shadow: 0 0 1px #42ADE9;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 5px;
  position: absolute;
  width: 100%;
  z-index: 9;
}
ul.typeahead-selector li { list-style: none; padding: 0 5px; }
ul.typeahead-selector li:hover { background: #EEE; }
a.typeahead-option { text-decoration: none; }
.typeahead .has-error {
  border: 1px solid #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 5px #FF4A47;
}
/* Tahead> */
